.about-container .content-right {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: 40px;
}

.about-container .content-box p {
  opacity: 0.9;
}

.about-container .content-box img {
  max-height: 120px;
}

@media screen and (max-width: 720px) {
  .about-container .content-box {
    width: calc(100% - 80px);
    padding: 80px 40px 120px;
  }

  .about-container .content-box p {
    margin-left: 60px;
    margin-right: 40px;
    font-size: 15px;
  }

  .about-container .content-box h4 {
    margin-bottom: 20px;
  }

  .about-container .content-box img {
    margin-bottom: 20px;
  }

  .about-container .content-right {
    margin-top: 0px;
    width: calc(100% - 40px);
    margin-bottom: 80px;
  }

  .about-container .content-box img {
    max-height: 80px;
  }
}
