:root {
  --black: #000000;
  --dark-blue: #214194;
  --grey: #C4C4C4;
  --beige: #ebe8d7;
  --light-beige: #f8f7f3;
  --white: #ffffff;
}

body, html {
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
  font-family: 'K2D';
  background-color: var(--light-beige);
}

.hz-center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}
