:root {
  --black: #0f1010;
  --dark-blue: #214194;
  --grey: #C4C4C4;
  --beige: #ebe8d7;
  --light-beige: #f8f7f3;
  --white: #fffffe;
}

body, html {
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
  font-family: 'K2D';
  background-color: var(--light-beige);
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.content-box-container:nth-child(even) {
  background-color: var(--beige);
}

@media screen and (max-width: 720px) {
  body, html {
    overflow-x: hidden;
  }
}
