.content-box {
  /* border-bottom: 1px solid var(--black); */
  display: flex;
  justify-content: space-between;
  padding: 40px;
  min-height: 400px;
}

.content-box:nth-child(even) {
  background-color: var(--beige);
}

.content-box > div {
  width: 50%;
}

.content-right .services-container {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 70px;
}

.content-right .about-container {
  width: 50%;
  margin: 10% 25% 0 0;
  float: right;
}

.content-box h4 {
  font-size: 40px;
  margin-left: 30%;
  margin-right: 30%;
  border-bottom: 3px solid var(--dark-blue);
}

.content-box img {
  margin: 5% 0;
}

.content-box:first-child img,
.content-box:last-child img  {
  height: 160px;
}

.content-box:first-child img {
  margin-right: -4px;
}

.content-box:last-child img {
  margin-right: 8px;
}

.content-box:nth-child(2) img {
  height: 120px;
}

.content-box .service-title {
  font-weight: bold;
}

.content-box ul {
  list-style: none;
  padding: 8px;
  text-align: left;
}

.content-box ul {
  margin-bottom: 16px;
}