.footer {
  background-color: var(--dark-blue);
  color: var(--white);
  display: flex;
  align-items: center;
  height: 120px;
}

.footer .footer-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer-logo {
  display: unset;
}

#footer-logo img {
  height: 40px;
  margin-left: 20px;
}

#footer-logo span {
  position: absolute;
  left: 72px;
  margin-top: 25px;
  /* bottom: 240px; */
  font-size: 8px;
}

#mobile-footer-logo {
  display: none;
}

.copyright-text {
  font-size: 12px;
}

.footer-links-container {
  position: absolute;
  right: 40px;
}

.footer-links-container span {
  margin-left: 40px;
}

@media screen and (max-width: 900px) {
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

	#footer-logo {
		display: none;
	}

	#mobile-footer-logo {
		display: block;
    height: 100px;
	}

  .footer-links-container {
    position: relative;
  }
}
